# Jupyter Notebook
.ipynb_checkpoints

# Jupyter notebooks sometimes create example files. I don't want git to 
# see them so I name them with 'example' in the file name and ignore them.
images/*example.fits
data/*example.png
code/*example.png
*example.png